<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
			{% if page.title == "Home" %}
      	{{ site.title }} &middot; {{ site.tagline }}
			{% else %}
      	{{ page.title }} &middot; {{ site.title }}
			{% endif %}
		</title>
    <link rel="stylesheet" href="/css/normalize.min.css">
    <link rel="stylesheet" href="/css/bergenpm.css">
    <script src="/js/modernizr.min.js"></script>
    <script>
        document.createElement( "picture" );
    </script>
    <script src="/js/picturefill.min.js"></script>
</head>
