<!DOCTYPE html>
<html>
  {% include head.html %}

<body>

    <div id="container">

        <header id="top">
            <div class="inner">

                <div id="logo"><a href="{{ site.baseurl }}">{{ site.title }}</a></div>
                <nav id="main-nav">
                    <a href="#"><img src="img/icon-menu.svg" alt=""></a>
                </nav>

            </div>
        </header>

				{{ content }}

    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="/js/min/main.min.js"></script>
		{% include google_analytics.html %}
</body>
</html>
