---
layout: default
---

<section class="posts">
    <div class="inner">
        <article class="post">
            <header>
                <time datetime="{{ page.date | date_to_xmlschema }}" class="post-date">
                    <span class="day">{{ page.date | date: "%d" }}</span>
                    <span class="month">{{ page.date | date: "%b" }}</span>
                    <span class="year">{{ page.date | date: "%Y" }}</span>
                </time>
                <h1 class="post-title">{{ page.title }}</h1>
            </header>
            {{ content }}
            <p class="post-author">Written by: <a href="//twitter.com/{{ page.author_twitter }}">{{ page.author_name }}</a></p>
        </article>
    </div>
</section>
